:root {
    --main-color: #10cab7;
    --sec-color: #2c4755 ;
}
::selection {
    background-color: rgb(0, 92, 85);
    color: white;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end of global rules */
/* start components */
.special-heading {
    color: #ebeced;
    font-size: 95px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -5px;
    margin: 0;
    
}
.special-heading  + p {
margin: -25px 0 0 ;
font-size: 20px;
text-align: center;
color: #797979;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* end components */
/* Start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon:hover{
    cursor: pointer;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 6px;
    height: 2px;
}
.header .links .icon span:first-child {
    /* height: 2px; */
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    /* height: 2px; */
    width: 70%;
    transition: 0.5s;
}
.header .links .icon span:last-child {
    height: 2px;
    width: 100%;
}
.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position:absolute ;
    right: 0;
    min-width: 200px;
    top:calc(100% + 10px) ;
    display: none;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
    
}
.header .links:hover ul {
    display: block;
    z-index: 1;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
    color: var(--main-color);
}
.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
/* end header */
/*  Start Landing section   */
.landing {
    background-image: url(../images/mounting.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/*  End Landing section   */
/* Start Features  */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
    /* background-color: #f6f6f6; */
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
    background-color:  #f6f6f6;
    border-radius: 10%;
}
.features .feat i {
    color: var(--main-color);
    size: 20px;
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0 ;
}
.features .feat p {
    line-height: 1.8;
    color: #8b8b8b;
    font-size: 19px;
}
/* End Features  */
/* start services */
#services {
    padding-top:60px; ;
    padding-bottom: 60px;
}
#services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top:100px;
}
#services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    #services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
#services .services-content .srv i {
      color: var(--main-color);
      flex-basis: 60px;
}
#services .services-content .srv .text {
    flex: 1;
}
#services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
#services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
#services .services-content  .image {
    text-align: center;
    position: relative;
}
#services .services-content .image img {
    width: 260px;
   height: 360px;
   
}
#services .services-content  .image::before {
    content: "";
    position: absolute;
    right: 0;
    background-color: var(--sec-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}
@media (max-width:1199px ) { 
    #services .services-content .image img ,#services .services-content  .image::before{
        display: none;
    }
}
/* End services */
/* Start Portfolio */
#portfolio {
    background-color: #f6f6f6;
    padding-top:60px; ;
    padding-bottom: 60px;
}
#portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top:100px;
}
#portfolio .portfolio-content .col .sp {
    min-width: 300px;
    max-width: 100%;
    height: 300px;
    background-color: #f0f0f0;
}
#portfolio .portfolio-content .col .special {
    background-color: white;
    padding:20px ;
    padding-left: 10px;  
}
#portfolio .portfolio-content .special h3 {
    font-weight: 800;
    margin: 0;
}
#portfolio .portfolio-content .special p {
    line-height: 1.6;
    margin-bottom: 0;
    color: #797979;
}

/* End Portfolio */
/* Start about */
#about {
    padding-top:60px; ;
    padding-bottom: 60px;
}
#about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:100px;
    margin-left: 80px;
    margin-right:80px ;
}
#about .about-content .image {
    text-align: center;
    position: relative;
}
#about .about-content .image img {
    width: 250px;
    height: 375px;
}

#about .about-content .image::before {
    content: "";
    position: absolute;
    left: -20px;
    width: 100px;
    background-color: #fafafa;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}
#about .about-content .image::after { 
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color) ;
    border-bottom: 70px solid var(--main-color);
    top: -50px;
    right: -150px;
    z-index: -1;
} 
#about .about-content .col2 {
    flex-basis: calc(100% - 500px);
    
}
#about .about-content .col2 h4 {
    font-weight: 800 ;
    line-height: 2;
    color: #334752;
}
#about .about-content .col2 .span {
    width: 300PX;
    background-color: var(--main-color);
    height: 1.5px;
}
#about .about-content .col2 p {
    line-height: 1.8;
    color: #797979;
}

@media (max-width:991px ) {
    #about .about-content {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 15px;
    }
    #about .about-content .image::before , #about .about-content .image::after {
        display: none;
    }

}
/* end about */
/* start contact */
#contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    margin: 0;  
    text-align: center;
}
#contact .contact-content h1 {
    padding-top: 60px;
    font-size: 35px;
    letter-spacing: -2px;
    color: #2c4755;
    font-weight: 900;
    /* padding-left: 160px; */

}
#contact .contact-content h3 {
    color: var(--main-color);
    font-size: 30px;
    letter-spacing: -2px;
    margin-top: -10px;
    /* padding-left: 190px; */
    position: relative;
    
}
#contact .contact-content .ic{
    /* padding-left: 220px; */
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #334752;
}
#contact .contact-content .ic p {
    padding-right: 10px;
}
#contact .contact-content .ic i {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 30px;
    color: #334752;
}
@media (max-width:991px) {
    #contact .contact-content h1 ,#contact .contact-content h3 {
        font-size: 25px;
    }
}
/* end contact */
/* start footer */
#footer {
    background-color: #2c4755;
    color: white;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
#footer span {
    color:var(--main-color);
    font-weight: bold;
}
/* end footer */

